@import url("https://fonts.googleapis.com/css2?family=Madimi+One&family=New+Amsterdam&display=swap");

:root{
  --colorPrincipal: #D62976;
}
.App {
  scroll-behavior: smooth;  
  text-align: center;
  font-size: 62.5%
}
